In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("c:/users/sande/house-votes-84.csv",index_col=0)

In [3]:
df.head()

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
Class Name,,,,,,,,,,,,,,,,
republican,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y
republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?
democrat,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n
democrat,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y
democrat,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y

In [4]:
df=df.reset_index()

In [5]:
df.head()

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?
2,democrat,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y

In [6]:
y=df["Class Name"]

In [7]:
X=df.drop("Class Name",axis=1)

In [8]:
X.head()

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y
1,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?
2,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n
3,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y
4,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y

HERE YOU CAN SEE THAT THE (?) IS NOT SHOWING AS ANY NULL VALUE FOR THAT WE HAVE TO WRITE A CODE AS BELOW.

In [9]:
df.isna().sum()

Class Name                                 0
 handicapped-infants                       0
 water-project-cost-sharing                0
 adoption-of-the-budget-resolution         0
 physician-fee-freeze                      0
 el-salvador-aid                           0
 religious-groups-in-schools               0
 anti-satellite-test-ban                   0
 aid-to-nicaraguan-contras                 0
 mx-missile                                0
 immigration                               0
 synfuels-corporation-cutback              0
 education-spending                        0
 superfund-right-to-sue                    0
 crime                                     0
 duty-free-exports                         0
 export-administration-act-south-africa    0
dtype: int64

In [10]:
import numpy as np

In [11]:
df=df.replace("?",np.nan)

In [12]:
df.isna().sum()

Class Name                                   0
 handicapped-infants                        12
 water-project-cost-sharing                 48
 adoption-of-the-budget-resolution          11
 physician-fee-freeze                       11
 el-salvador-aid                            15
 religious-groups-in-schools                11
 anti-satellite-test-ban                    14
 aid-to-nicaraguan-contras                  15
 mx-missile                                 22
 immigration                                 7
 synfuels-corporation-cutback               21
 education-spending                         31
 superfund-right-to-sue                     25
 crime                                      17
 duty-free-exports                          28
 export-administration-act-south-africa    104
dtype: int64

HERE IN THE ABOVE DATASETS YOU CAN SEE THAT (?) HAS BEEN CONVERTED TO nan SO NOW YOU WILL GET THIS AS A NULL VALUES.

In [13]:
df.columns

Index(['Class Name', ' handicapped-infants', ' water-project-cost-sharing',
       ' adoption-of-the-budget-resolution', ' physician-fee-freeze',
       ' el-salvador-aid', ' religious-groups-in-schools',
       ' anti-satellite-test-ban', ' aid-to-nicaraguan-contras', ' mx-missile',
       ' immigration', ' synfuels-corporation-cutback', ' education-spending',
       ' superfund-right-to-sue', ' crime', ' duty-free-exports',
       ' export-administration-act-south-africa'],
      dtype='object')

In [14]:
df.head()

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,NaN,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,NaN
2,democrat,NaN,y,y,NaN,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,NaN,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,NaN,y,y,y,y

In [15]:
republican=df[df["Class Name"]=="republican"]

In [16]:
republican.head()

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,NaN,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,NaN
7,republican,n,y,n,y,y,y,n,n,n,n,n,n,y,y,NaN,y
8,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
10,republican,n,y,n,y,y,n,n,n,n,n,NaN,NaN,y,y,n,n

In [17]:
democrat=df[df["Class Name"]=="democrat"]

In [18]:
democrat.head()

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
2,democrat,NaN,y,y,NaN,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,NaN,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,NaN,y,y,y,y
5,democrat,n,y,y,n,y,y,n,n,n,n,n,n,y,y,y,y
6,democrat,n,y,n,y,y,y,n,n,n,n,n,n,NaN,y,y,y

In [19]:
republican.isna().sum()

Class Name                                  0
 handicapped-infants                        3
 water-project-cost-sharing                20
 adoption-of-the-budget-resolution          4
 physician-fee-freeze                       3
 el-salvador-aid                            3
 religious-groups-in-schools                2
 anti-satellite-test-ban                    6
 aid-to-nicaraguan-contras                 11
 mx-missile                                 3
 immigration                                3
 synfuels-corporation-cutback               9
 education-spending                        13
 superfund-right-to-sue                    10
 crime                                      7
 duty-free-exports                         12
 export-administration-act-south-africa    22
dtype: int64

In [20]:
democrat.isna().sum()

Class Name                                  0
 handicapped-infants                        9
 water-project-cost-sharing                28
 adoption-of-the-budget-resolution          7
 physician-fee-freeze                       8
 el-salvador-aid                           12
 religious-groups-in-schools                9
 anti-satellite-test-ban                    8
 aid-to-nicaraguan-contras                  4
 mx-missile                                19
 immigration                                4
 synfuels-corporation-cutback              12
 education-spending                        18
 superfund-right-to-sue                    15
 crime                                     10
 duty-free-exports                         16
 export-administration-act-south-africa    82
dtype: int64

HERE WE HAVE NULL VALUES SO FOR CLEANING NULL VALUES FIRST WE CLAEN FOR (handicapped-infants) BY USING MODE FOR (republican) AND THEN FOR (democrat).

In [21]:
republican[' handicapped-infants']=republican[' handicapped-infants'].fillna(republican[' handicapped-infants'].mode()[0])

<ipython-input-21-11b98f179c6e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  republican[' handicapped-infants']=republican[' handicapped-infants'].fillna(republican[' handicapped-infants'].mode()[0])

In [22]:
republican.isna().sum()

Class Name                                  0
 handicapped-infants                        0
 water-project-cost-sharing                20
 adoption-of-the-budget-resolution          4
 physician-fee-freeze                       3
 el-salvador-aid                            3
 religious-groups-in-schools                2
 anti-satellite-test-ban                    6
 aid-to-nicaraguan-contras                 11
 mx-missile                                 3
 immigration                                3
 synfuels-corporation-cutback               9
 education-spending                        13
 superfund-right-to-sue                    10
 crime                                      7
 duty-free-exports                         12
 export-administration-act-south-africa    22
dtype: int64

In [23]:
democrat[' handicapped-infants']=democrat[' handicapped-infants'].fillna(democrat[' handicapped-infants'].mode()[0])

<ipython-input-23-8ce7def47d19>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  democrat[' handicapped-infants']=democrat[' handicapped-infants'].fillna(democrat[' handicapped-infants'].mode()[0])

In [24]:
democrat.isna().sum()

Class Name                                  0
 handicapped-infants                        0
 water-project-cost-sharing                28
 adoption-of-the-budget-resolution          7
 physician-fee-freeze                       8
 el-salvador-aid                           12
 religious-groups-in-schools                9
 anti-satellite-test-ban                    8
 aid-to-nicaraguan-contras                  4
 mx-missile                                19
 immigration                                4
 synfuels-corporation-cutback              12
 education-spending                        18
 superfund-right-to-sue                    15
 crime                                     10
 duty-free-exports                         16
 export-administration-act-south-africa    82
dtype: int64

HERE YOU CAN SEE FROM BOTH (republican) AND (democrat) THE NULL VALUES ARE MADE ZERO SO,IN THE SAME WAY WE DO IT FOR COMPLETE COLUMNS AS BELOW.

In [25]:
for column in df.columns:
    republican[column]=republican[column].fillna(republican[column].mode()[0])

<ipython-input-25-a6c467c83a24>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  republican[column]=republican[column].fillna(republican[column].mode()[0])

In [26]:
republican.isna().sum()

Class Name                                 0
 handicapped-infants                       0
 water-project-cost-sharing                0
 adoption-of-the-budget-resolution         0
 physician-fee-freeze                      0
 el-salvador-aid                           0
 religious-groups-in-schools               0
 anti-satellite-test-ban                   0
 aid-to-nicaraguan-contras                 0
 mx-missile                                0
 immigration                               0
 synfuels-corporation-cutback              0
 education-spending                        0
 superfund-right-to-sue                    0
 crime                                     0
 duty-free-exports                         0
 export-administration-act-south-africa    0
dtype: int64

In [27]:
for column in df.columns:
    democrat[column]=democrat[column].fillna(democrat[column].mode()[0])

<ipython-input-27-d867efcd79af>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  democrat[column]=democrat[column].fillna(democrat[column].mode()[0])

In [28]:
democrat.isna().sum()

Class Name                                 0
 handicapped-infants                       0
 water-project-cost-sharing                0
 adoption-of-the-budget-resolution         0
 physician-fee-freeze                      0
 el-salvador-aid                           0
 religious-groups-in-schools               0
 anti-satellite-test-ban                   0
 aid-to-nicaraguan-contras                 0
 mx-missile                                0
 immigration                               0
 synfuels-corporation-cutback              0
 education-spending                        0
 superfund-right-to-sue                    0
 crime                                     0
 duty-free-exports                         0
 export-administration-act-south-africa    0
dtype: int64

HERE NOW WE CLEANED THE DATA BUT WE HAVE TO ADD THE republican AND democrat AS FOLLOW FOR FURTHER PROCESS.

In [29]:
republican.shape

(168, 17)

In [30]:
democrat.shape

(267, 17)

In [31]:
df=republican.append(democrat)

In [32]:
df

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,n,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
7,republican,n,y,n,y,y,y,n,n,n,n,n,n,y,y,n,y
8,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
10,republican,n,y,n,y,y,n,n,n,n,n,n,y,y,y,n,n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,democrat,n,n,y,n,n,n,y,y,n,y,y,n,n,n,y,y
426,democrat,y,n,y,n,n,n,y,y,y,y,n,n,n,n,y,y
428,democrat,y,y,y,n,n,n,y,y,y,y,n,n,y,n,y,y
429,democrat,y,n,y,n,n,n,y,y,y,y,n,y,n,n,y,y
431,democrat,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y

In [33]:
y=df["Class Name"]

# 1

In [34]:
X=df.drop("Class Name",axis=1)

In [35]:
X.head()

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,n,y,n,y,y,y,n,n,n,y,n,y,y,y,n,y
1,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
7,n,y,n,y,y,y,n,n,n,n,n,n,y,y,n,y
8,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
10,n,y,n,y,y,n,n,n,n,n,n,y,y,y,n,n

In [36]:
X.isna().sum()

 handicapped-infants                       0
 water-project-cost-sharing                0
 adoption-of-the-budget-resolution         0
 physician-fee-freeze                      0
 el-salvador-aid                           0
 religious-groups-in-schools               0
 anti-satellite-test-ban                   0
 aid-to-nicaraguan-contras                 0
 mx-missile                                0
 immigration                               0
 synfuels-corporation-cutback              0
 education-spending                        0
 superfund-right-to-sue                    0
 crime                                     0
 duty-free-exports                         0
 export-administration-act-south-africa    0
dtype: int64

In [37]:
X.dtypes

 handicapped-infants                       object
 water-project-cost-sharing                object
 adoption-of-the-budget-resolution         object
 physician-fee-freeze                      object
 el-salvador-aid                           object
 religious-groups-in-schools               object
 anti-satellite-test-ban                   object
 aid-to-nicaraguan-contras                 object
 mx-missile                                object
 immigration                               object
 synfuels-corporation-cutback              object
 education-spending                        object
 superfund-right-to-sue                    object
 crime                                     object
 duty-free-exports                         object
 export-administration-act-south-africa    object
dtype: object

HERE THE DATASET IS NOT NUMERIC SO WE USE DUMMY ENCODING(IN LINEAR MODELS) OR ONE HOT ENCODING(NON-LINEAR MODEL).AS THE DECISION TREES ARE NON-LINEAR MODEL SO WE USE ONE HOT ENCODING.

In [38]:
X=pd.get_dummies(X,columns=X.columns)

In [39]:
X.dtypes

 handicapped-infants_n                       uint8
 handicapped-infants_y                       uint8
 water-project-cost-sharing_n                uint8
 water-project-cost-sharing_y                uint8
 adoption-of-the-budget-resolution_n         uint8
 adoption-of-the-budget-resolution_y         uint8
 physician-fee-freeze_n                      uint8
 physician-fee-freeze_y                      uint8
 el-salvador-aid_n                           uint8
 el-salvador-aid_y                           uint8
 religious-groups-in-schools_n               uint8
 religious-groups-in-schools_y               uint8
 anti-satellite-test-ban_n                   uint8
 anti-satellite-test-ban_y                   uint8
 aid-to-nicaraguan-contras_n                 uint8
 aid-to-nicaraguan-contras_y                 uint8
 mx-missile_n                                uint8
 mx-missile_y                                uint8
 immigration_n                               uint8
 immigration_y                               uint8
 synfuels-corporation-cutback_n              uint8
 synfuels-corporation-cutback_y              uint8
 education-spending_n                        uint8
 education-spending_y                        uint8
 superfund-right-to-sue_n                    uint8
 superfund-right-to-sue_y                    uint8
 crime_n                                     uint8
 crime_y                                     uint8
 duty-free-exports_n                         uint8
 duty-free-exports_y                         uint8
 export-administration-act-south-africa_n    uint8
 export-administration-act-south-africa_y    uint8
dtype: object

In [40]:
type(X)

pandas.core.frame.DataFrame

In [41]:
X.shape

(435, 32)

# 2

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,stratify=y)

In [44]:
X.head()

,handicapped-infants_n,handicapped-infants_y,water-project-cost-sharing_n,water-project-cost-sharing_y,adoption-of-the-budget-resolution_n,adoption-of-the-budget-resolution_y,physician-fee-freeze_n,physician-fee-freeze_y,el-salvador-aid_n,el-salvador-aid_y,...,education-spending_n,education-spending_y,superfund-right-to-sue_n,superfund-right-to-sue_y,crime_n,crime_y,duty-free-exports_n,duty-free-exports_y,export-administration-act-south-africa_n,export-administration-act-south-africa_y
0,1,0,0,1,1,0,0,1,0,1,...,0,1,0,1,0,1,1,0,0,1
1,1,0,0,1,1,0,0,1,0,1,...,0,1,0,1,0,1,1,0,0,1
7,1,0,0,1,1,0,0,1,0,1,...,1,0,0,1,0,1,1,0,0,1
8,1,0,0,1,1,0,0,1,0,1,...,0,1,0,1,0,1,1,0,0,1
10,1,0,0,1,1,0,0,1,0,1,...,0,1,0,1,0,1,1,0,1,0

HERE FEATURE SCALING IS NOT REQUIRED AS THE DATASET IS ON THE SAME SCALE.

# 3

In [45]:
from sklearn.tree import DecisionTreeClassifier

In [46]:
tree=DecisionTreeClassifier()

In [47]:
tree.fit(X_train,y_train)

DecisionTreeClassifier()

# 4

In [48]:
tree.score(X_train,y_train)

0.9969325153374233

In [49]:
tree.score(X_test,y_test)

0.9541284403669725

# RANDOM FOREST

# 3

In [50]:
from sklearn.ensemble import RandomForestClassifier

In [51]:
forest=RandomForestClassifier()

In [52]:
forest.fit(X_train,y_train)

RandomForestClassifier()

# 4

In [53]:
forest.score(X_train,y_train)

0.9969325153374233

In [54]:
forest.score(X_test,y_test)

0.9724770642201835

# oob_score

# 3

In [55]:
from sklearn.ensemble import RandomForestClassifier

In [56]:
forest=RandomForestClassifier(oob_score=True)

In [57]:
forest.fit(X_train,y_train)

RandomForestClassifier(oob_score=True)

# 4

In [58]:
forest.score(X_train,y_train)

0.9969325153374233

In [59]:
forest.score(X_test,y_test)

0.981651376146789

In [60]:
forest.oob_score

True

In [61]:
forest.oob_score_

0.9601226993865031

HERE oob_score_ MEANS OUT OF THE BACK DATASET (OR)  WHICH MEANS THE DATA NEVER BEEN INRODUCED IN MY BOOTSTRAP.